html, body {
    box-sizing: border-box;
    margin: 10px;
    padding: 0;
    font-family: Times New Roman;
}

body{
    background-color: rosybrown;
}

#add{
    align-items: grid;
    background-color: green;
    text-decoration: underline;
    padding: 10px;

}

#subtract{
    align-items: grid;
    text-decoration: underline;
    background-color: red;
    padding: 10px;
}

#multiply{
    align-items: grid;
    text-decoration: underline;
    background-color:brown

}