body{
    background-color: azure;
}

div1{
    align-items: grid;
    background-color: green;
    padding: 10px;

}

div2{
    align-items: grid;
    background-color: red;
    padding: 10px;
}

div3{
    align-items: grid;
    background-color: orange;
    padding: 10px;
}