*/Style CSS File for JS DJ/

h1 {
    font-family: cursive;
    font-size: 70px;
    color: blueviolet;
}

p {
    font-family: Georgia;
    font-size: 20px;
    color: orangered;

}
.square{
    width: 120px;
    height: 120px;
    background: turquoise;
}

h2 {
    font-family: Arial;
    font-size: 15px;
    font-weight: 500;
    color: goldenrod;
}

h3 {
    font-family: Lucinda;
    font-size: 15px;
    font-weight: 500;
    color: gold;
}


