html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Times New Roman;
}

/*Mobile Design*/
body{
    background: radial-gradient(springgreen, yellow, orangered);
}

.p{
    background: black;
}

h1{

    align-items: center;
    font-family: cursive;
    color: darkcyan;
    text-decoration: underline;
    position: flex;
}

h3{
    font-size: 25px;
}

h4{
    font-size: 25px;
}

h5{
    font-size: 25px;
}

h6{
    font-size: 25px;
}

h7{
    font-size: 40px;
    font-weight: bold;
    font-family: Tahoma;
    align-items: center;
    color:darkviolet;
    text-decoration: underline;
}

.nav{
    width: flex;
    height: flex;
    padding: 20px;
    color: darkseagreen;
}

.img1{
    display: inline-block;
    height: 200px;
    width: 300px;
}

.img2{
    display: inline-block;
    height: 200px;
    width: 300px;
}

.img3{
    display: inline-block;
    height: 200px;
    width: 300px;
}

.img4{
    display: inline-block;
    height: 200px;
    width: 300px;
}

#box1{
    display: grid;
    background-color: bisque;
    padding: 0px auto;
    border: 10px;
    font-size: 50 px;
}

#box2{
    display: grid;
    background-color: seagreen;
    padding: 0px auto;
    border: 10px;
    font-size: 50 px;
    font-stretch: unset;
}

#box3{
    display: grid;
    background-color: orchid;
    padding: 0px auto;
    border: 10px;
    font-size: 50 px;
}

#box4{
    display: grid;
    background-color: blue;
    padding: 0px auto;
    border: 10px;
    font-size: 50 px;
}

#box5{
    display: grid;
    background-color: aqua;
    padding: 0px auto;
    border: 10px;
    font-size: 50 px;
}

/* Tablet */
@media only screen and (min-width: 650px) and (max-width: 768px){
    body{
        background: radial-gradient(springgreen, yellow, orangered);
    }

    h1{

        align-items: center;
        font-family: cursive;
        color: darkcyan;
        text-decoration: underline;
        position: flex;
    }

    h3{
        font-size: 25px;
    }

    h4{
        font-size: 25px;
    }

    h5{
        font-size: 25px;
    }

    h6{
        font-size: 25px;
    }

    h7{
        font-size: 40px;
        font-weight: bold;
        font-family: Tahoma;
        align-items: center;
        color:darkviolet;
        text-decoration: underline;
    }

    .nav{
        width: flex;
        height: flex;
        padding: 20px;
        color: darkseagreen;
    }

    .img1{
        display: inline-block;
        height: 200px;
        width: 300px;
    }
    
    .img2{
        display: inline-block;
        height: 200px;
        width: 300px;
    }
    
    .img3{
        display: inline-block;
        height: 200px;
        width: 300px;
    }
    
    .img4{
        display: inline-block;
        height: 200px;
        width: 300px;
    }

    #box1{
        display: grid;
        background-color: bisque;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

    #box2{
        display: grid;
        background-color: seagreen;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
        font-stretch: unset;
    }

    #box3{
        display: grid;
        background-color: orchid;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

    #box4{
        display: grid;
        background-color: blue;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

    #box5{
        display: grid;
        background-color: aqua;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

}

/*Large Screens and Desktops*/
@media only screen and (min-width: 768px) and (max-width: 100000px){
    body{
        background: radial-gradient(springgreen, yellow, orangered);
    }

    h1{

        align-items: center;
        font-family: cursive;
        color: darkcyan;
        text-decoration: underline;
        position: flex;
    }

    h3{
        font-size: 25px;
    }

    h4{
        font-size: 25px;
    }

    h5{
        font-size: 25px;
    }

    h6{
        font-size: 25px;
    }

    h7{
        font-size: 40px;
        font-weight: bold;
        font-family: Tahoma;
        align-items: center;
        color:darkviolet;
        text-decoration: underline;
    }

    .nav{
        width: flex;
        height: flex;
        padding: 20px;
        color: darkseagreen;
    }

    .img1{
        display: inline-block;
        height: 200px;
        width: 300px;
    }
    
    .img2{
        display: inline-block;
        height: 200px;
        width: 300px;
    }
    
    .img3{
        display: inline-block;
        height: 200px;
        width: 300px;
    }
    
    .img4{
        display: inline-block;
        height: 200px;
        width: 300px;
    }

    #box1{
        display: grid;
        background-color: bisque;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

    #box2{
        display: grid;
        background-color: seagreen;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
        font-stretch: unset;
    }

    #box3{
        display: grid;
        background-color: orchid;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

    #box4{
        display: grid;
        background-color: blue;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

    #box5{
        display: grid;
        background-color: aqua;
        padding: 0px auto;
        border: 10px;
        font-size: 50 px;
    }

}